body {
    margin: 0px;
    height: 100vh;
    width: 100%;
}
p {
    padding: 0px;
    margin: 0px;
}

.bold-choice {
    font-weight: 700;
    font-size: 1rem; /*basic is .9, could check to see how formula works, or set those as constant*/
    color:#ffffff;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0px;
}
.App {
    height: 100%;
    width: 100%;
    display: flex;
}
.sidemenu {
    width: 15%;
}
main {
    width: 100%;
}
/*side menu CSS*/
.sideMenu {
    background-color: #16213e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
}

.side-choices {
    display: flex;
    flex-direction: column;
}

.sideMenu button {
    color: #aaaaaa;
    background: none;
    border: none;
    padding: 6px 5px;
    border: 1px solid transparent;
}

button:hover {
    border: 1px solid;
}

.side-bottom {
    display: flex;
    gap: 4px 8px;
    align-items: center;
    justify-content: space-between;
}
.github-logo {
    height: 28px;
    width: 28px;
}
.github-text {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
}
/*probably need to make this flex aligned right? To do so need to shove logo/text in their own container.*/
.min-button {
    padding-left: 30px; 
}

/*Main display CSS*/
/*main {} contains array-container + footer*/

main .array-container {
    height: 75%;
    width: 100%;
    background-color: #d3d3d3;
    display: flex;
    gap: 3px;
}
.arrBar {
    border: 1px solid;
}

/*Bottom controls CSS*/
main footer {
    height: 25%;
    min-height: 100px;
    background-color:aliceblue
}

.play-icon {
    height: 28px;
    width: 28px;
}
.pause-icon {
    height: 28px;
    width: 28px;
}
.speed-icon {
    height: 28px;
    width: 28px;
}
.refresh-icon {
    height: 28px;
    width: 28px;
}